# Ignore everything except the built jar when using single-stage Dockerfile
!.mvn/
!.mvn/wrapper/maven-wrapper.jar
!.mvn/wrapper/maven-wrapper.properties
!.mvn/wrapper/MavenWrapperDownloader.java
!.mvn/wrapper/
!.mvn/maven-wrapper.jar
!.mvn/maven-wrapper.properties
!.mvn/
!.mvn/wrapper/
!.mvn/wrapper/MavenWrapperDownloader.java

# IDE
.idea/
*.iml
.vscode/
*.class
*.log
